<div class="mat-dialog-header">
  <span mat-dialog-title>Register</span>
  <button mat-button mat-icon-button aria-label="Close dialog" mat-dialog-close="">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="mat-dialog-body">
  <mat-dialog-content [formGroup]="registrationForm">
    <lc-input label="Username"
              [(content)]="username"
              [parentFormGroup]="registrationForm"
              [formControlName]="'username'"
              [showHint]="this.registrationForm.controls['username'].invalid &&
                (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)"
              [hintLabel]="getErrorMessage('username')"
              [fieldSize]="'responsive'">
    </lc-input>
    <lc-input label="Email"
              [(content)]="email"
              [parentFormGroup]="registrationForm"
              [formControlName]="'email'"
              [showHint]="this.registrationForm.controls['email'].invalid &&
                (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
              [hintLabel]="getErrorMessage('email')"
              [fieldSize]="'responsive'">
    </lc-input>
    <lc-input label="Password"
              [(content)]="password"
              [password]="true"
              [parentFormGroup]="registrationForm"
              [formControlName]="'password'"
              [showHint]="this.registrationForm.controls['password'].invalid &&
                (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)"
              [hintLabel]="getErrorMessage('password')"
              [fieldSize]="'responsive'">
    </lc-input>
    <lc-input label="Repeat password"
              [(content)]="repeatPassword"
              [password]="true"
              [parentFormGroup]="registrationForm"
              [formControlName]="'repeatPassword'"
              [showHint]="(this.registrationForm.controls['repeatPassword'].invalid ||
                registrationForm.hasError('notMatching')) && (registrationForm.controls['repeatPassword'].dirty ||
                registrationForm.controls['repeatPassword'].touched)"
              [hintLabel]="getErrorMessage('repeatPassword')"
              [fieldSize]="'responsive'">
    </lc-input>
  </mat-dialog-content>
  <mat-dialog-actions>
    <lc-button
      [buttonText]="registerButtonText"
      [disabled]="!registrationForm.valid"
      (clickEvent)="register()">
    </lc-button>
  </mat-dialog-actions>
</div>

