<div class="mat-dialog-header">
  <span mat-dialog-title>Login</span>
  <button mat-button mat-icon-button aria-label="Close dialog" mat-dialog-close="">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="mat-dialog-body">
  <mat-dialog-content [formGroup]="loginForm">
    <lc-input label='Username'
              [(content)]="username"
              [fieldSize]="'responsive'"
              [parentFormGroup]="loginForm"
              [formControlName]="'username'"></lc-input>
    <div>
      <lc-input label='Password'
                [(content)]="password"
                [password]="true"
                [fieldSize]="'responsive'"
                [parentFormGroup]="loginForm"
                [formControlName]="'password'"></lc-input>
      <div *ngIf="loginError && username" class="forgot-password-wrapper">
        <a class="forgot-password-link"
           (click)="forgotPassword()">
          Did you forget your password?
        </a>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <lc-button [disabled]="!loginForm.valid" [text]="loginButtonText" [size]="'medium'" (clickEvent)="login()"></lc-button>
  </mat-dialog-actions>
</div>

