<div class="mat-dialog-header">
  <span mat-dialog-title>Login</span>
  <button mat-button mat-icon-button aria-label="Close dialog" mat-dialog-close="">
    X
  </button>
</div>
<div class="mat-dialog-body">
  <mat-dialog-content [formGroup]="loginForm">
    <lc-input label='Username'
              [(content)]="username"
              [fieldSize]="'responsive'"
              [parentFormGroup]="loginForm"
              [formControlName]="'username'"></lc-input>
    <lc-input label='Password'
              [(content)]="password"
              [password]="true"
              [fieldSize]="'responsive'"
              [parentFormGroup]="loginForm"
              [formControlName]="'password'"></lc-input>
  </mat-dialog-content>
  <mat-dialog-actions>
    <lc-button [buttonText]="loginButtonText" [buttonSize]="'medium'" (click)="login()"></lc-button>
  </mat-dialog-actions>
</div>

