:host {
  width: 100%;
  min-height: 55px;
  .lc-input-wrapper {
    position: relative;
    width: 100%;
    .lc-input-hint {
      font-size: small;
      position: absolute;
      color: var(--hint-color);
      left: 10px;
      top: 55px;
    }
    .mat-icon {
      color: var(--hint-color);
      position: absolute;
      z-index: 10;
      right: 10px;
      top: 17px;
      margin: auto 0;
      padding-top: 2px;
      cursor: pointer;
    }
    &:has(.mat-icon) {
      .lc-input-field {
        padding-right: 40px;
      }
    }
    &:has(.lc-input-label) {
      .lc-input-field {
        margin-top: 5px;
      }
    }
    .lc-input-label {
      position: absolute;
      left: 7px;
      z-index: 10;
      margin-left: 10px;
      padding: 0 10px 0 10px;
      background-color: var(--base-color);
      &:disabled {
        color: var(--hint-color);
      }
    }
    .lc-input-field {
      position: relative;
      top: 5px;
      width: 100%;
      height: 42px;
      border:solid 3px var(--main-color) !important;
      border-radius: 21px;
      font-size: medium;
      padding: 5px 10px 0 10px;
      &:disabled {
        border:solid var(--hint-color) !important;
      }
    }
    &.field {
      &--xsmall {
        width: 60px;
      }
      &--small {
        width: 120px;
      }
      &--medium {
        width: 240px;
      }
      &--large {
        width: 320px;
      }
      &--responsive {
        width: 100%;
      }
    }
  }
}
