<div class="mat-dialog-header">
  <span mat-dialog-title>Reset password</span>
  <button mat-button mat-icon-button aria-label="Close dialog" mat-dialog-close="">
    X
  </button>
</div>
<div class="mat-dialog-body">
  <mat-dialog-content [formGroup]="resetPasswordForm">
    <lc-input label="Password"
              [(content)]="password"
              [password]="true"
              [parentFormGroup]="resetPasswordForm"
              [formControlName]="'password'"
              [showHint]="this.resetPasswordForm.controls['password'].invalid &&
                (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
              [hintLabel]="getErrorMessage('password')"
              [fieldSize]="'responsive'">
    </lc-input>
    <lc-input label="Repeat password"
              [(content)]="repeatPassword"
              [password]="true"
              [parentFormGroup]="resetPasswordForm"
              [formControlName]="'repeatPassword'"
              [showHint]="(this.resetPasswordForm.controls['repeatPassword'].invalid ||
                resetPasswordForm.hasError('notMatching')) && (resetPasswordForm.controls['repeatPassword'].dirty ||
                resetPasswordForm.controls['repeatPassword'].touched)"
              [hintLabel]="getErrorMessage('repeatPassword')"
              [fieldSize]="'responsive'">
    </lc-input>
  </mat-dialog-content>
  <mat-dialog-actions>
    <lc-button
      [buttonText]="resetPasswordButtonText"
      [disabled]="!resetPasswordForm.valid"
      (clickEvent)="resetPassword()"
      buttonSize="large"
    >
    </lc-button>
  </mat-dialog-actions>
</div>

