<div>
  <lc-header></lc-header>
  <lc-subheader
    *ngIf="pageData"
    [title]="pageData.title"
    [id]="id"
    [hasFilters]="pageData.hasFilters"
    (toggleFilterEvent)="toggleFilters($event)"
  ></lc-subheader>
  <div
    class="h-content overflow-y-auto transition-height"
    [ngClass]="{
    'h-contentSmall': pageData && !showFilters,
    'h-contentXSmall': pageData && showFilters
  }"
  >
    <main class="relative">
      <router-outlet></router-outlet>
      <lc-floating-button
        @fade
        *ngIf="pageData
          && pageData.showCart
          && shoppingCartItemNumber$ | async"
        class="flex sticky bottom-10 z-20 w-max mr-10 mt-5 ml-auto"
        icon="shopping_cart"
        size="big"
        [badgeValue]="shoppingCartItemNumber$  | async"
        (btnClick)="goToShoppingCart()"
      ></lc-floating-button>
    </main>
    <footer>
      <nav id="nav-footer">
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
