@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --main-color: #495195;
  --base-color: #ffffff;
  --hint-color: #c9c9c9;
  --base-darker-color: #ececec;

  /* DIMENSIONS */
  --header-height: 70px;
  --subheader-height: 140px;
  --content-height-base: calc(100vh - var(--header-height));
  --content-height-sm: calc(100vh - var(--header-height) - var(--subheader-height));
}

@font-face {
  font-family: "Varela Round";
  src: url(assets/fonts/VarelaRound-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: var(--main-color);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
}

img {
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a.disabled a.disabled:hover {
  pointer-events: none;
  text-decoration: none;
}

/* DIALOGS */

.auth-dialog>mat-dialog-container {
  color: var(--main-color);
  background-color: var(--base-color);
  padding: 5px;
  border: solid 4px var(--main-color);
  border-radius: 47px;
}

.img-view-dialog>mat-dialog-container {
  padding: 0;
}

.auth-dialog>mat-dialog-container>:first-child {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.auth-dialog>mat-dialog-container .mat-dialog-title {
  font-size: larger;
  color: var(--main-color);
  margin-bottom: 0;
}

.mat-dialog-header {
  display: flex;
  align-items: center;
  margin: 15px 30px 0 30px;
}

.mat-button-focus-overlay {
  background-color:transparent;
}

.mat-dialog-header>button {
  margin-left: auto;
  height: 20px;
  width: 20px;
  font-size: smaller;
  line-height: 2px;
  background-color: var(--base-color);
}

.mat-dialog-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
  border-radius: 6px;
  padding: 30px 30px 20px 30px;
}

.mat-dialog-body * {
  color: var(--main-color);
}

.mat-dialog-body>.mat-dialog-content {
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.mat-dialog-body>.mat-dialog-content>* {
  margin-bottom: 20px;
}

.mat-dialog-body>.mat-dialog-content .forgot-password-wrapper{
  padding: 10px;
}

.mat-dialog-body>.mat-dialog-content .forgot-password-link{
  margin-top: 15px;
  font-size: small;
  color: var(--hint-color);
  cursor: help;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}
