:host {
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    &.color {
      &--secondary {
        background-color: var(--base-color);
        &:hover:not(:disabled), &.toggled:not(:disabled) {
          background-color: var(--main-color);
          color:  var(--base-color);
        }
        &:disabled, &:disabled span {
          color: var(--hint-color);
          border: solid 3px var(--hint-color)!important;
          cursor: default;
        }
      }
      &--primary {
        background-color: var(--main-color);
        color:  var(--base-color);
        &:hover:not(:disabled), &.toggled:not(:disabled) {
          background-color: var(--base-color);
          color:  var(--main-color);
        }
        &:disabled, &:disabled span {
          background-color: var(--hint-color);
          border: solid 3px var(--hint-color)!important;
          cursor: default;
        }
      }
    }
    border: solid 3px var(--main-color)!important;
    border-radius: 20px;
    height: 40px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    &.btn {
      &--small {
        width: 80px;
      }
      &--medium {
        width: 120px;
      }
      &--large {
        width: 200px;
      }
      &--responsive {
        width: 100%;
      }
    }
  }
}
