<button
    class="flex items-center justify-center gap-4 btn--{{ size }} color--{{ color }} text-center group"
    [ngClass]="{ 'toggled': toggled }"
    (click)="btnClick()"
    [disabled]="disabled"
>
  {{text}}
  <mat-icon
    *ngIf="icon"
    [ngClass]="{
      'text-main group-hover:text-basic': color === 'secondary' && !toggled,
      '!text-basic': color === 'secondary' && toggled,
      'text-basic group-hover:text-main': color === 'primary' && !toggled,
      '!text-main': color === 'primary' && toggled
    }"
  >
    {{ icon }}
  </mat-icon>
</button>
